<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BALOTO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="info-title">
      <h1> DATOS DEL BALOTO: </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="#" class="list-group-item list-group-item-action active">
                    Año inicio
                </a>
                <!-- AQUI JHOAN -->
                <input class="date_picker" type="date" id="start-calendar" value="2012-12-21">
            </div>
            <div class="col-sm">
                <a href="#" class="list-group-item list-group-item-action active">
                    Año fin
                </a>
                <input class="date_picker" type="date" id="end-calendar" value="2019-01-01">
            </div>
        </div>
        <button type="button" id="start-button" class="btn btn-primary btn-lg btn-block">Calcular...</button>  
    </div>
    <div class="container" id="calc"> 

    </div>
    <div class="graphicont">

    </div>

    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>


    <script>
        const start_calendar = document.getElementById("start-calendar"),
            end_calendar = document.getElementById("end-calendar");
        let startDate = start_calendar.value,
            endDate = end_calendar.value;
        const content = document.getElementById("calc");

        //Setting up listeners to calendars and button
        start_calendar.addEventListener("change", (event) => {
            console.log("Calendar changed: ", start_calendar.value);
            startDate = start_calendar.value;
        });

        end_calendar.addEventListener("change", (event) => {
            console.log("Calendar changed: ", end_calendar.value);
            endDate = end_calendar.value;
        });


        document.getElementById("start-button").addEventListener("click", event => {
            const url = new URL("http://localhost:8000/get")
            const params = {
                "start-date": startDate, 
                "end-date": endDate
            }
            url.search = new URLSearchParams(params)
            fetch(url)
                .then(res => res.json())
                .then(json => {
                    content.innerHTML = JSON.stringify(json);
                })
            console.log("Start: ", startDate, "End: ", endDate);
        })

        function graphic(data){
            var x=[];
            var t=[];
            
            var trace ={
                number: x,
                time:t,
                mode:'lines+markers',
                type:'scatter'
            }
            traces=trace;
            Ploty.newPlot('graphicont',trace)
        }
    </script>
</body>
</html>